{
  "name": "{{project_name}}",
  "image": "{{devcontainer_image}}",
  "capAdd": [
    "SYS_PTRACE"
  ],
  "securityOpt": [
    "seccomp=unconfined"
  ],
  "customizations": {
    "vscode": {
      "extensions": [
        {%- for ext in devcontainer_vscode_extensions %}
        "{{ ext }}"{% if not loop.last %},{% endif %}
        {%- endfor %}
      ]
    }
  },
  "containerUser": "bob"
}
