{
  "$schema": "https://raw.githubusercontent.com/microsoft/vcpkg-tool/main/docs/vcpkg.schema.json",
  "name": "{{project_name}}",
  "builtin-baseline": "b1d8051c9259b82fda906e0e8249e7d848efdbaa",
  "version": "0.0.1",
  "dependencies": [
    {
      "name": "fmt"
    }
  ]
}
