{
  "name": "{{project_name}}",
  "image": "{{project_name}}/clang_gcc-ubuntu:19-14",
  "capAdd": [
    "SYS_PTRACE"
  ],
  "securityOpt": [
    "seccomp=unconfined"
  ],
  "customizations": {
    "vscode": {
      "extensions": [
        "ms-vscode.cmake-tools"
      ]
    }
  },
  "containerUser": "bob"
}
