{
  "version": 6,
  "include": [
    "vcpkg.json"
  ],
  {% set cmake_parts = cmake_min_version.split('.') + ['0', '0'] %}"cmakeMinimumRequired": {
    "major": {{ cmake_parts[0] }},
    "minor": {{ cmake_parts[1] }},
    "patch": {{ cmake_parts[2] }}
  },
  "configurePresets": [
    {
      "name": "conf-common",
      "inherits": [
        "vcpkg"
      ],
      "description": "General settings that apply to all configurations",
      "hidden": true,
      "generator": "Ninja",
      "binaryDir": "${sourceDir}/out/build/${presetName}",
      "installDir": "${sourceDir}/out/install/${presetName}",
      "cacheVariables": {
        "CMAKE_EXPORT_COMPILE_COMMANDS": "ON",
        "CMAKE_DEBUG_POSTFIX": "d"
      }
    },
    {
      "name": "conf-windows-common",
      "description": "Windows settings for MSBuild toolchain that apply to msvc and clang",
      "hidden": true,
      "inherits": "conf-common",
      "environment": {},
      "cacheVariables": {
        "CMAKE_C_COMPILER": "cl",
        "CMAKE_CXX_COMPILER": "cl"
      },
      "condition": {
        "type": "equals",
        "lhs": "${hostSystemName}",
        "rhs": "Windows"
      },
      "architecture": {
        "value": "x64",
        "strategy": "external"
      },
      "toolset": {
        "value": "host=x64",
        "strategy": "external"
      },
      "vendor": {
        "microsoft.com/VisualStudioSettings/CMake/1.0": {
          "intelliSenseMode": "windows-msvc-x64"
        }
      }
    },
    {
      "name": "conf-unixlike-common",
      "description": "Unix-like OS settings for gcc and clang toolchains",
      "hidden": true,
      "inherits": "conf-common",
      "cacheVariables": {
        "CMAKE_LINKER_TYPE": "MOLD"
      },
      "condition": {
        "type": "inList",
        "string": "${hostSystemName}",
        "list": [
          "Linux",
          "Darwin"
        ]
      },
      "vendor": {
        "microsoft.com/VisualStudioRemoteSettings/CMake/1.0": {
          "sourceDir": "$env{HOME}/{{project_name}}",
          "copySourcesOptions": {
            "exclusionList": [
              ".vs",
              ".git",
              "out",
              ".vcpkg"
            ]
          },
          "copyOptimizations": {
            "useOptimizations": "RsyncOnly"
          }
        }
      }
    },
    {
      "name": "conf-gcc-common",
      "description": "Unix-like OS settings for gcc",
      "hidden": true,
      "inherits": "conf-unixlike-common",
      "cacheVariables": {
        "CMAKE_C_COMPILER": "gcc",
        "CMAKE_CXX_COMPILER": "g++"
      }
    },
    {
      "name": "conf-clang-common",
      "description": "Unix-like OS settings for clang",
      "hidden": true,
      "inherits": "conf-unixlike-common",
      "cacheVariables": {
        "CMAKE_C_COMPILER": "clang",
        "CMAKE_CXX_COMPILER": "clang++",
        "CMAKE_CXX_FLAGS": "-stdlib=libc++",
        "VCPKG_TARGET_TRIPLET": "x64-{{project_name}}-libcxx"
      }
    },
    {
      "name": "conf-testing",
      "hidden": true,
      "cacheVariables": {
        "BUILD_TESTING": "ON"
      }
    },
    {
      "name": "conf-debug",
      "hidden": true,
      "cacheVariables": {
        "CMAKE_BUILD_TYPE": "Debug"
      }
    },
    {
      "name": "conf-release",
      "hidden": true,
      "cacheVariables": {
        "CMAKE_BUILD_TYPE": "RelWithDebInfo"
      }
    },
    {
      "name": "conf-modules-experimental",
      "hidden": true,
      "cacheVariables": {
        "CMAKE_EXPERIMENTAL_CXX_IMPORT_STD": "0e5b6991-d74f-4b3d-a41c-cf096e0b2508",
        "CMAKE_CXX_MODULE_STD": "1"
      }
    }
  ]
}
