{
  "version": 6,
  "configurePresets": [
    {
      "name": "vcpkg",
      "hidden": true,
      "toolchainFile": "${sourceDir}/cmake/vcpkg/vcpkg.toolchain.cmake",
      "cacheVariables": {
        "VCPKG_TARGET_TRIPLET": "x64-{{project_name}}",
        "VCPKG_INSTALL_OPTIONS": "--no-print-usage",
        "VCPKG_OVERLAY_TRIPLETS": "${sourceDir}/cmake/vcpkg/triplets",
        "VCPKG_OVERLAY_PORTS": "${sourceDir}/cmake/vcpkg/ports",
        "X_VCPKG_APPLOCAL_DEPS_INSTALL": "ON"
      }
    }
  ]
}
